<template>
  <div class="main-wrapper">
    <element-selector class="selector" />
    <form-builder class="builder" />
  </div>
</template>


<script lang="ts">
import Vue from 'vue'
import ElementSelector from '@/components/ElementSelector.vue'
import FormBuilder from '@/components/FormBuilder.vue'

export default Vue.extend({
  components: {
    ElementSelector,
    FormBuilder
  }
})
</script>

<style lang="scss" scoped>
.main-wrapper {
  min-height: 100vh;

  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "selector builder";
  
  .selector {
    grid-area: selector;
  }

  .builder {
    grid-area: builder;
  }
}
</style>
