<template>
  <div class="selector">
    <div class="header">
      <h2>Выберите элемент</h2>
    </div>
    <div class="body">
      <draggable
        v-model="inputs"
        :group="{
        name: 'elements',
        pull: 'clone',
        put: false
      }"
        :sort="false"
        :clone="cloneElement"
      >
        <generic-input
          class="element-input-block"
          v-for="input in inputs"
          :key="input.type"
          :input="input"
        />
      </draggable>
    </div>
    <div class="footer"></div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue';
import draggable from 'vuedraggable';

import GenericInput from '@/components/ElementSelector/GenericInput';
import { AnyInput, AnyMulipleInput } from '@/inputTypes';
import { allInputs } from '@/inputDefaults';

interface Data {
  inputs: AnyInput[];
}

export default Vue.extend({
  data() {
    const data: Data = {
      inputs: [...allInputs],
    };

    return data;
  },

  computed: {
    count(): number {
      return this.inputs.length;
    },
  },
  methods: {
    cloneElement<T extends AnyInput>(input: T): T {
      const newId = Math.random()
        .toString(36)
        .substr(2, 9);
      const result = {
        ...input,
        id: newId,
        name: input.name + '-' + newId,
      };

      return result;
    },
  },
  components: {
    GenericInput,
    draggable,
  },
});
</script>

<style lang='scss' scoped>
@import "@/scss/_inputs.scss";

.selector {
  display: flex;
  overflow-y: auto;
  flex-direction: column;

  padding: 20px;

  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);

  .header,
  .footer {
    flex: 0 0 auto;
  }

  .body {
    flex: 1 1 auto;
  }

  .header {
    h2 {
      margin-top: 0;
    }
  }
}

.element-input-block {
  display: block;

  margin-bottom: 20px;
  padding: 16px;

  cursor: move;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

  @include inputsStyling;

  & > label {
    display: block;
    flex: 0 0 100px;

    margin-bottom: 4px;

    cursor: inherit;
  }

  & > input,
  textarea {
    cursor: inherit;

    background-color: white !important;
  }
}
</style>
