<template>
  <div class="builder">
    <div class="form" :class="{ preview: isPreview }">
      <form @submit.stop.prevent="formSubmitted">
        <h1>{{ title }}</h1>
        <draggable @update="updateRows" v-model="rows" group="form-rows">
          <div
            class="row"
            v-for="row in rows"
            :key="row.index"
            :class="{ empty: row.inputs.length === 0}"
          >
            <draggable
              class="inputs"
              v-model="row.inputs"
              @add="inputAdded"
              :group="{ name: 'form-inputs', put: ['elements', 'form-inputs'] }"
            >
              <!-- <div v-for="input in row.inputs" :key="input.id">{{ input.label }}</div> -->
              <generic-editable-input
                v-for="input in row.inputs"
                :key="input.id"
                :value="input"
                @input="updateInput"
                :preview="isPreview"
                @delete="deleteInput"
              />
            </draggable>
          </div>
        </draggable>
        <div class="submit-button">
          <input type="submit" value="Отправить" />
        </div>
      </form>
    </div>
    <div class="actions">
      <button @click.stop.prevent="toggleMode">
        <svg
          v-if="!isPreview"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"
          />
        </svg>
        <svg v-else xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M23 7V1h-6v2H7V1H1v6h2v10H1v6h6v-2h10v2h6v-6h-2V7h2zM3 3h2v2H3V3zm2 18H3v-2h2v2zm12-2H7v-2H5V7h2V5h10v2h2v10h-2v2zm4 2h-2v-2h2v2zM19 5V3h2v2h-2zm-5.27 9h-3.49l-.73 2H7.89l3.4-9h1.4l3.41 9h-1.63l-.74-2zm-3.04-1.26h2.61L12 8.91l-1.31 3.83z"
          />
          <path fill="none" d="M0 0h24v24H0z" />
        </svg>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import draggable from 'vuedraggable';
import { AnyInput } from '@/inputTypes';
import GenericEditableInput from '@/components/FormBuilder/GenericEditableInput.vue';

interface Row {
  index: number;
  inputs: AnyInput[];
}

interface Data {
  title: string;
  mode: 'edit' | 'preview';
  rows: Row[];
}

export default Vue.extend({
  data(): Data {
    return {
      mode: 'edit',
      title: 'Заголовок формы',
      rows: [{
        index: 1,
        inputs: [],
      }],
    };
  },
  computed: {
    isPreview(): boolean {
      return this.mode === 'preview';
    },
    maxIndex(): number {
      return this.rows.reduce((agg, { index }) => Math.max(agg, index), 0);
    },
    idPositions(): { [s: string]: number[] } {
      /*
        Convert the two-dimentional array into an object with
        unique keys (input ids) and with values of [rowIndex, colIndex]
        for a quicker lookup in the editing/deleting phase
      */
      return this.rows.reduce((agg, row, rowIndex) => {
        return row.inputs.reduce((innerAgg, input, colIndex) => {
          innerAgg[input.id] = [rowIndex, colIndex];
          return innerAgg;
        }, agg);
      }, {} as { [s: string]: number[] });
    },
  },
  methods: {
    inputAdded() {
      this.updateRows();
    },
    formSubmitted() {
      alert('Форма успешно заполнена');
    },
    updateRows() {
      if (this.rows.length === 1 && this.rows[0].inputs.length === 0) {
        return;
      }

      let actualIndex = this.maxIndex + 1;

      this.rows =
        this.rows
          .filter((row) => row.inputs.length > 0)
          .map((row) => [row, { index: actualIndex++, inputs: [] }])
          .reduce((acc, row) => acc.concat(row), [{ index: actualIndex++, inputs: [] }]);
    },
    updateInput(newInput: AnyInput): void {
      const [rowIndex, colIndex] = this.idPositions[newInput.id];
      this.rows[rowIndex].inputs.splice(colIndex, 1, newInput);
    },
    deleteInput(inputId: string): void {
      const [rowIndex, colIndex] = this.idPositions[inputId];
      this.rows[rowIndex].inputs.splice(colIndex, 1);

      this.updateRows();
    },
    toggleMode() {
      this.mode = this.mode === 'edit' ? 'preview' : 'edit';
    },
  },
  components: {
    draggable,
    GenericEditableInput,
  },
});
</script>

<style lang="scss" scoped>
@import "@/scss/_variables.scss";

.builder {
  align-self: center;

  width: 80%;
  min-width: 400px;
  max-width: 600px;

  justify-self: center;
}

.actions {
  display: flex;
  justify-content: center;

  margin-top: 32px;

  & > button {
    margin: 0 8px;
    padding: 8px;

    border: 5px solid $accent-color;
    outline: none;
    background: none;

    svg {
      display: block;
    }
  }
}

.form {
  padding: 32px;

  border: 10px solid #42b3a1;

  h1 {
    text-align: center;

    font-size: 1.5em;
  }

  .row {
    margin: 10px;
    padding: 10px 5px;

    border: 1px dotted black;

    &.empty {
      margin: 10px;
      padding: 0 5px;

      border: 1px dotted lightgray;
    }
  }

  .inputs {
    display: flex;

    min-height: 10px;

    & > div {
      flex: 1;

      margin-right: 5px;
      margin-left: 5px;
      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .submit-button {
    text-align: center;
    input[type="submit"] {
      padding: 10px;

      color: white;
      border: 5px solid $main-color;
      background: $main-color;

      font-size: 1em;
      font-weight: bold;
    }
  }

  &.preview {
    .row {
      padding-right: 0;
      padding-left: 0;

      border: none;

      &.empty {
        display: none;
      }
    }
  }
}
</style>
