<template>
  <div class="editable-input">
    <!-- <Frame @click.native="editing = false" :pose="pose" class="frame" /> -->
    <fixed-container :pose="pose" :class="{ editing }" @click.native.self="editing = false">
      <div>
        <label :for="value.id" v-if="!value.hideLabel" class="toplevel">
          {{ value.label }}
          <span class="required" v-if="value.required">*</span>
        </label>
        <component :is="inputComponent" :input="value" />
        <component :is="editInputComponent" :value="value" @input="propagateInput" v-if="editing" />
      </div>
    </fixed-container>
    <div class="controls" v-show="!preview">
      <button class="edit" @click.stop.prevent="editing = true">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
      <button class="delete" @click.stop.prevent="deleteInput">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue';
import { AnyInput } from '@/inputTypes';
import TextLikeInput from './Inputs/TextInput';
import TextareaInput from './Inputs/TextareaInput';
import MultipleInput from './Inputs/MultipleInput';
import TextLikeEdit from './Edits/TextInput.vue';
import posed from 'vue-pose';
import MultipleEdit from './Edits/MultipleInput.vue';

interface IData {
  editing: boolean;
}

export default Vue.extend({
  props: {
    value: Object as () => AnyInput,
    preview: Boolean,
  },
  data(): IData {
    return {
      editing: false,
    };
  },
  computed: {
    inputComponent(): VueConstructor {
      switch (this.value.type) {
        case 'text':
        case 'email':
        case 'password':
        case 'file':
          return TextLikeInput;
        case 'textarea':
          return TextareaInput;
        case 'radio':
        case 'checkbox':
          return MultipleInput;
      }
    },
    editInputComponent(): VueConstructor {
      switch (this.value.type) {
        case 'text':
        case 'email':
        case 'password':
        case 'textarea':
        case 'file':
          return TextLikeEdit;
        case 'radio':
        case 'checkbox':
          return MultipleEdit;
      }
    },
    pose(): 'normal' | 'editing' {
      return this.editing ? 'editing' : 'normal';
    },
  },
  methods: {
    deleteInput() {
      this.$emit('delete', this.value.id);
    },
    propagateInput(newInput: AnyInput) {
      this.$emit('input', newInput);
    },
  },
  components: {
    TextLikeInput,
    FixedContainer: posed.div({
      editing: {
        position: 'fixed',
        top: 0,
        left: 0,
        right: 0,
        bottom: 0,
        flip: true,
      },
      normal: {
        position: 'static',
        width: 'auto',
        flip: true,
      },
    }),
    Frame: posed.div({
      editing: {
        applyAtStart: { display: 'block' },
        opacity: 1,
      },
      normal: {
        applyAtEnd: { display: 'none' },
        opacity: 0,
      },
    }),
  },
});
</script>

<style lang="scss" scoped>
@import "@/scss/_inputs.scss";

div.editable-input {
  @include inputsStyling;
  label.toplevel {
    display: block;

    margin-bottom: 10px;
    .required {
      color: red;
    }
  }

  & > .editing {
    overflow-x: auto;

    background-color: white;

    & > div {
      max-width: 400px;
      height: 100%;
      margin: 0 auto;
      padding: 32px;
    }
  }

  .controls {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    button {
      margin-left: 5px;
      padding: 5px 0;

      cursor: pointer;

      border: 0px solid $accent-color;
      background: none;

      fill: $accent-color;
    }
  }

  .frame {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    transform: translateZ(0);

    background: white;
  }
}
</style>
