@import "./variables";

@mixin inputsStyling {
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=file],
  input[type=number],
  textarea {
    display: block;

    width: 100%;
    padding: 10px;

    transition: border-color .3s ease-in-out;

    border: 5px solid $main-color;
    background-color: white;

    font-family: inherit;
    font-size: 1em;

    &:focus {
      border-color: $accent-color;
      outline: none;
    }

    &:disabled {
      background-color: #ececec;
    }
  }
}