<template>
  <div class="editingOptions">
    <h2>Параметры</h2>
    <div class="input" v-for="(val, name) in fields" :key="name">
      <label :for="name">
        {{ name | capitalize }}
        <span v-if="!val.optional && val.type !== 'boolean'">*</span>
      </label>
      <input :type="val.type | getInputType" v-model="actualValue[name]" @input="update" />
    </div>
    <draggable v-model="actualValue.children" class="children">
      <div class="child" v-for="child in actualValue.children" :key="child.id">
        <h3>
          Вариант "{{ child.label }}"
          <button @click.stop.prevent="deleteChild(child.id)">Удалить</button>
        </h3>
        <div class="input" v-for="(val, name) in childFields" :key="name">
          <label :for="name">
            {{ name | capitalize }}
            <span v-if="!val.optional && val.type !== 'boolean'">*</span>
          </label>
          <input
            :type="val.type | getInputType"
            v-model="child[name]"
            :name="actualValue.id + name"
            @input="update"
          />
        </div>
        <!-- <div class="input" v-if="actualValue.type === 'radio'">
          <label :for="checked">Checked</label>
          <input type="radio" v-model="checked" :name="actualValue.id + 'checked'" :value="child.id"
        </div>-->
      </div>
      <div slot="footer" class="controls">
        <button @click.stop.prevent="addChild">Добавить</button>
      </div>
    </draggable>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import draggable from 'vuedraggable';
import { AnyMulipleInput } from '@/inputTypes';
import { number } from 'style-value-types';


export default Vue.extend({
  props: {
    value: Object as () => AnyMulipleInput,
  },
  data() {
    return {
      checked: '',
      actualValue: {
        ...this.value,
        children: [...this.value.children],
      },
    };
  },
  watch: {
    actualValue(value) {
      this.$emit('input', value);
    },
  },
  computed: {
    fields() {
      const result: { [x: string]: { type: string; optional: boolean } } = {
        label: { type: 'string', optional: false },
        name: { type: 'string', optional: false },
      };
      return result;
    },
    childFields() {
      return {
        label: { type: 'string', optional: false },
        value: { type: 'string', optional: false },
        required: { type: 'boolean', optional: true },
      };
    },
  },
  methods: {
    update() {
      this.$emit('input', this.actualValue);
    },
    addChild() {
      const newId = Math.random()
        .toString(36)
        .substr(2, 9);

      this.actualValue.children.push({
        id: newId,
        value: 'value-' + newId,
        label: 'Вариант',
        name: this.actualValue.name,
      });

      this.update();
    },
    deleteChild(id: string) {
      this.actualValue.children = this.actualValue.children.filter(
        (value) => value.id !== id,
      );
    },
  },
  filters: {
    capitalize: (value: string) => {
      if (!value) {
        return '';
      }
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    getInputType: (value: 'string' | 'boolean' | 'number'): string => {
      switch (value) {
        case 'string':
          return 'text';
        case 'number':
          return 'number';
        case 'boolean':
          return 'checkbox';
      }
    },
  },
  components: {
    draggable,
  },
});
</script>

<style lang="scss" scoped>
@import "@/scss/_inputs.scss";

.editingOptions {
  margin-top: 52px;
  padding-top: 16px;

  border-top: 5px solid $accent-color;

  h2 {
    margin: 0 0 16px;

    text-align: center;
  }

  h3 {
    button {
      color: red;
      border: none;
      background: none;
    }
  }

  .input {
    display: flex;
    align-items: center;

    margin: 10px 0;

    @include inputsStyling;

    label {
      flex: 0 0 90px;

      margin-right: 16px;

      span {
        color: red;
      }
    }
  }
}
</style>
