<template>
  <div class="editingOptions">
    <h2>Параметры</h2>
    <div class="input" v-for="(val, name) in fields" :key="name">
      <label :for="name">
        {{ name | capitalize }}
        <span v-if="!val.optional && val.type !== 'boolean'">*</span>
      </label>
      <input :type="val.type | getInputType" v-model="actualValue[name]" @input="update" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { AnyInput } from '@/inputTypes';
import { number } from 'style-value-types';

export default Vue.extend({
  props: {
    value: Object as () => AnyInput,
  },
  data() {
    return {
      actualValue: { ...this.value },
    };
  },
  watch: {
    actualValue(value) {
      this.$emit('input', value);
    },
  },
  computed: {
    fields() {
      let result: { [x: string]: { type: string; optional: boolean } } = {
        label: { type: 'string', optional: false },
        name: { type: 'string', optional: false },
        required: { type: 'boolean', optional: true },
        disabled: { type: 'boolean', optional: true },
        autofocus: { type: 'boolean', optional: true },
        tabindex: { type: 'number', optional: true },
      };

      if (
        this.value.type === 'text' ||
        this.value.type === 'password' ||
        this.value.type === 'email' ||
        this.value.type === 'textarea'
      ) {
        result = {
          ...result,
          minLength: { type: 'number', optional: true },
          maxLength: { type: 'number', optional: true },
          pattern: { type: 'string', optional: true },
          placeholder: { type: 'string', optional: true },
          readonly: { type: 'boolean', optional: false },
        };
      }

      if (this.value.type === 'email') {
        result.multiple = { type: 'boolean', optional: true };
      }

      if (this.value.type === 'file') {
        result = {
          ...result,
          accept: { type: 'string', optional: false },
          multiple: { type: 'boolean', optional: false },
          capture: { type: 'string', optional: true },
        };
      }

      return result;
    },
  },
  methods: {
    update() {
      this.$emit('input', this.actualValue);
    },
  },
  filters: {
    capitalize: (value: string) => {
      if (!value) {
        return '';
      }
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
    getInputType: (value: 'string' | 'boolean' | 'number'): string => {
      switch (value) {
        case 'string':
          return 'text';
        case 'number':
          return 'number';
        case 'boolean':
          return 'checkbox';
      }
    },
  },
});
</script>

<style lang="scss" scoped>
@import "@/scss/_inputs.scss";

.editingOptions {
  margin-top: 52px;
  padding-top: 16px;

  border-top: 5px solid $accent-color;

  h2 {
    margin: 0 0 16px;

    text-align: center;
  }

  .input {
    display: flex;
    align-items: center;

    margin: 10px 0;

    @include inputsStyling;

    label {
      flex: 0 0 90px;

      margin-right: 16px;

      span {
        color: red;
      }
    }
  }
}
</style>
